@{
    var success = ((bool?) ViewData["success"]) ?? false;
    var divCssClasses = "card-panel ";
    divCssClasses += success ? "light-blue darken-4 " : "red accent-4 ";
}

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Index</title>

    <style>
        html, body, .box-panel{
            height: 100%;
        }
    </style>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col12">
            <div class="@divCssClasses">
                <span class="white-text valign-wrapper center-block center-align">@ViewData["message"]</span>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>